body {
    background-color: black;
    font-family: 'Source Sans Pro', sans-serif;
  }

header {
  background-color: #466995;
  border-top: 25px solid #466995;
  border-bottom: 25px solid #466995;
  width: 100%;
  z-index: 10;
  font-family: 'Ubuntu', sans-serif;
}

footer {
  background-color: #466995;
  border-top: 25px solid #466995;
  border-bottom: 25px solid #466995;
  width: 100%;
  z-index: 10;
  text-align: left;
  font-family:verdana;
  font-size: 20px;
  font-weight: bold;
   color: White;
}

a:link, a:visited {
    color: White;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  a:hover {
      color: lightblue;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
  }


#nav {
  text-align: center;
  font-family:verdana;
  font-size: 36px;
  font-weight: bold;
  border: Black;
  display: flex;
  justify-content: center;

}

#imagecontainer{
display: flex;
flex-wrap: wrap;
align-content: space-around;
}

img {border-radius: 25px;
     box-shadow: 10px 10px 5px grey;
}

h1 {
    color: White;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
h3{
  color: #466995;
  font-size: 27px;
  font-family: 'Ubuntu', sans-serif;
  }

p  {
  color: White;
  background-color: #466995;
  text-align:left;
  width: 320px;
  padding: 10px;
  margin: 0;
  left: 10% ;
  }

form {
color: White;
background-color: #466995;
width: 60%;
font-family: verdana, serif;
margin: 0 auto;
}

input[type=text], label{
  width: 35%;
  margin-left: 20px;
}

textarea{
  width: 70%;
  height:300px;
  margin-left: 20px;
}

#ip{
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
}

#ip div{
  width: 50%;
}

#image1 img{
position: relative;
left: 60px
}

ul{
  color: white;
}

li{
  color: white;
}

#link2 a{
background-color: #466995;
font-size: 20px;
font-weight: bold;
}
/*MOBILE SECTION*/

@media only screen and (max-width: 500px){
form {
  width: 100%;
}
input[type=text], label, textarea{
  width: 95%;
}
#nav{font-size: 25px;}

#ip div{
  width: 100%;
}
}
